.profile__info {

}

.link {
    display: inline-block;
    margin: 20px;
    color: rgb(61, 61, 61);
    padding: 10px;
    border-radius: 8px;
    border: 2px solid var(--main-border-color);
}

.link:hover {
    border-width: 4px;
    padding: 7.6px;
}