.profile {
    min-height: calc(100vh - var(--header-height));
    display: grid;
    grid-template: 240px 1fr / 1fr 4fr;
}

.profile__menu {
    height: 100%;
    padding: 20px 0;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--main-border-color);
}

.profile__avatar {
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.75),
        rgba(255, 255, 255, 0.75)
        ),var(--profile-bg-image);
    background-size: cover;
    background-position-y: -40px;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid var(--main-border-color);
}

.profile__avatar > img {
}

.profile__body {
}